<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Breweries in United States</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="d3Style.css">

  <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-data-adapter.min.js"></script>
  <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css" type="text/css" rel="stylesheet">
  <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css" type="text/css" rel="stylesheet">
  <style type="text/css">

    html,
    body,
    #container {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
  
</style>
</head>

<body class="text-white" style="background-image: url(https://raw.githubusercontent.com/nsethi4310/GTProject2/roman_branch/home.jpeg?ve=1&tl=1);
    background-size: cover; background-position:fixed;">


<a style="color:#1e828f" href="http://127.0.0.1:5000/">Home</a> |
<a style="color:#1e828f" href="http://127.0.0.1:5000/bar">Bar Graph</a> |
<a style="color:#1e828f" href="http://127.0.0.1:5000/scatter">Scatter Graph</a> |
<a style="color:#1e828f" href="http://127.0.0.1:5000/sunburst">Sunburst Graph</a> |
<a style="color:#1e828f" href="http://127.0.0.1:5000/sunburst2">Sunburst 2 Graph</a> |
<a style="color:#1e828f" href="http://127.0.0.1:5000/map">Map</a> |
<a style="color:#1e828f" href="http://127.0.0.1:5000/about">About</a> |
              
        <head>
          <meta charset="utf-8">
          <title>margin-top</title>
          <style>
           div {
            padding: 40px;
            margin-top: 0%;
           }
           @font-face {
          font-family: PSimpsonfont DEMO;
          src: url(https://github.com/nsethi4310/CoffeeMLProject3/blob/main/coffee_prj/font/Simpsonfont%20DEMO.otf);
          }
          a {
          font-family: Pompadur, 'Comic Sans MS', cursive;
          }
          </style>
         </head>

         <div id="container"></div>
  

         <script>
       
           anychart.onDocumentReady(function () {
             
             anychart.data.loadCsvFile(
               'https://raw.githubusercontent.com/nsethi4310/GTProject2/main/beer_prj/csv/us_state_data.csv',
               function (data) {
                 //create bar chart
                 var chart = anychart.bar();
      
                 // set chart title
                 chart.title('Number of Breweries in United States');
       
                 // create data set on our data
                 var dataSet = anychart.data.set(data);
                 // map mapping
                 var mapping = dataSet.mapAs({ x: 1, value: 2, fill: 6, stroke: 5, label: 6});
                 
                 // create bar series
                 var series = chart.bar();

                 // set chart data
                 series.data(mapping);
                 //labels font size setting
                 var labels = chart.xAxis().labels();
                 labels.fontFamily("Courier");
                 labels.fontSize(15);
                 labels.fontColor("#2c4f53");
                 labels.fontWeight("bold");
       
                 var labels = chart.yAxis().labels();
                 labels.fontFamily("Courier");
                 labels.fontSize(15);
                 labels.fontColor("#2c4f53");
                 labels.fontWeight("bold");
       
                // set titles for axises
                 chart.xAxis().title('State');
                 chart.yAxis().title('Breweries');

                 chart.background().fill({
                 keys: ["rgba(104, 143, 30, 0)"],
                 angle: 130,
                 });

                 // set container id for the chart
                 chart.container('container');

                 // initiate chart drawing
                 chart.draw();
               }
             );
           });
         
       </script>
       </body>
       </html>